
.slick-list{
    width: 100% !important;
    height: 380px !important;
}

.slider-container{
    width: 1440px !important;
    margin-top: 180px;
}

.slider-box-rt{
    width: 95% !important;
    height: 350px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border: 1px solid var(--secondary);
    border-radius: 12px;
    cursor: pointer;
}

.icon-box{
    width: 100%;
    text-align: left;
}

.icon-box i{
    font-size: 140px;
    color: var(--gray);
    margin-right: 10px;
}

.test-content p{
    font-size: 22px;
    font-family: "Space Grotesk", serif;
    color: var(--black);
    margin-bottom: 10px;
}

.test-content h3{
    font-size: 28px;
    font-family: "Space Grotesk", serif;
    color: var(--secondary);
    margin-bottom: 10px;
}
.test-content h4{
    font-size: 16px;
    font-family: "Space Grotesk", serif;
    color: var(--secondary);
    margin-bottom: 10px;
}

.slick-arrow{
    display: none !important;
}

