@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* fonts */
/* font-family: "Montserrat", serif;
font-family: "Space Grotesk", serif; */

/* h3{
  font-size: 16px;
  font-family: "Montserrat", serif
}

h1{
  font-size: 48px;
  font-family: "Space Grotesk", serif;
}
h2{
  font-size: 48px;
  font-family: "Space Grotesk", serif;
} 

p{
 font-size: 16px;
 font-family: "Space Grotesk", serif;
}
*/




/* colors */

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #cccccc;
  --light-gray: #f4f4f4;
  --primary: #d9e026;
  --secondary: #3a3a3a;
  --soft: #f5f8b5;
}

/* general */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.about-banner-section{
  background-color: #000;
  background-image: url(/public/images/bg_2.b4660a2fd91599fe53c9.svg);
  display: flex;
  margin: 30px;
  border-radius: 25px;
  padding: 100px 50px;
  width:100%;
}