.who-are-container{
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.who-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.who-left img{
    width: 50%;
}
.who-right{
    width: 50%;
}

.who-btn-h3{
    background-color: var(--light-gray) !important;
    width: 18%;
    padding: 6px 12px !important;
    color: var(--secondary) !important;
    font-size: 16px !important;
    font-family: "Space Grotesk", serif !important;
    border: 1px solid #303030 !important;
}

.who-right h2{
    font-size: 48px !important;
    font-family: "Space Grotesk", serif !important;
    color: var(--secondary) !important;
    margin-bottom: 20px;
    margin-top: 20px;
}

.who-right h2 span{
    color: var(--primary) !important;
}

.who-right p{
    font-size: 16px !important;
    font-family: "Space Grotesk", serif !important;
    color: var(--secondary) !important;
    margin-bottom: 20px;
    margin-top: 20px;
}
.who-right ul{
    font-size: 22px !important;
    font-family: "Space Grotesk", serif !important;
    color: var(--secondary) !important;
    margin-bottom: 35px;
    margin-top: 20px;
    list-style: none;
}

.who-right ul li{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.who-list img{
    width: 25px;
    margin-right: 0px;
}
.why-btn-h3{
    width: 25%;
}

.why-left img {
    width: 90%;
    margin-right: 100px;
}