.aboutbanner-container{
    width:1440px;
    padding: auto 16px;
    display: flex;
    gap: 40px;
    margin: auto;
}
.aboutbanner-container-left{
    display: flex;
        flex-direction: column;
        gap: 12px;
        width: 50%;
}
.aboutbanner-container-right{

    width: 50%;
}
.aboutbanner-container-left img{
    object-fit: contain;

        max-height: 100%;
        max-width: 100%;
}
.aboutbanner-container-windows-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;

}
.aboutbanner-container-windows{
    display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        height: 530px;
}
.aboutbanner-container-windows-top{
    height: 50%;
    padding: 5px;
    border: 2px solid #fff;
}
.aboutbanner-container-windows-bottom{
    height: 50%;
    padding: 5px;
    border: 2px solid #fff;
}
.aboutbanner-container-windows-right{
    width: 270px;
    height: 100%;
    object-fit: cover;
    border: 2px solid #fff;
    padding: 5px;
}
.aboutbanner-container-windows-top img{
    width: 270px;
    height: 100%;
    object-fit: cover;
    box-shadow: #d9e026;
 
}
.aboutbanner-container-windows-bottom img{
    width: 270px;
    height: 100%;
    object-fit: cover;
}
.aboutbanner-container-right-content h1{
   color: #d9e026;
   font-size: 48px;
  font-family: "Space Grotesk", serif;
  padding-bottom: 20px;
}
.aboutbanner-container-right-content h1 span{
    color: #ffffff;
    font-size: 48px;
   font-family: "Space Grotesk", serif;
   padding-bottom: 20px;
 }
.aboutbanner-container-right-content p{
    color: #ffffff;
    font-size: 16px;
 font-family: "Space Grotesk", serif;
 padding-bottom: 20px;
 }
 .aboutbanner-container-right-content h3{
    font-size: 16px;
    font-family: "Montserrat", serif;
    padding-bottom: 20px;
    color: #ffffff;
  }
  .aboutbanner-container-windows-right img{
    height:100%;
    object-fit: cover;
  }